<section class="cart">
   <div class="container">

      <h1 class="cart__title">Корзина</h1>

      <ul class="cart__products-list">
         <div class="cart__message-text hidden">Корзина пуста</div>

         <!-- <li class="cart__product" id="1">
            
            <div class="cart__flex">
               <div class="cart__photo">
                  <img class="cart__img" src="./images/product-800x800.png" width="160" height="165" alt="фото продукта">
               </div>

               <div class="cart__text">
                  <a class="cart__subtitle" href="#">Желтое худи</a>
                  <span class="cart__group">худи, одежда</span>
               </div>
            </div>

            <div class="cart__filter-wrapper">
               <!--=include filter.html --
            </div>

            <div class="cart__price-wrapper">
               <span class="cart__price">1199.00 <span class="cart__currency">грн.</span></span>
               <button class="cart__delete" type="button"></button>
            </div>
         </li> 

         <li class="cart__product" id="2">
            
            <div class="cart__flex">
               <div class="cart__photo">
                  <img class="cart__img" src="./images/product-800x800.png" width="160" height="165" alt="фото продукта">
               </div>

               <div class="cart__text">
                  <a class="cart__subtitle" href="#">Желтое худи</a>
                  <span class="cart__group">худи, одежда</span>
               </div>
            </div>

            <div class="cart__filter-wrapper">
               <!--=include filter.html --
            </div>

            <div class="cart__price-wrapper">
               <span class="cart__price">1199.00 <span class="cart__currency">грн.</span></span>
               <button class="cart__delete" type="button"></button>
            </div>
         </li>
         <li class="cart__product" id="3">
            
            <div class="cart__flex">
               <div class="cart__photo">
                  <img class="cart__img" src="./images/product-800x800.png" width="160" height="165" alt="фото продукта">
               </div>

               <div class="cart__text">
                  <a class="cart__subtitle" href="#">Желтое худи</a>
                  <span class="cart__group">худи, одежда</span>
               </div>
            </div>

            <div class="cart__filter-wrapper">
               <!--=include filter.html --
            </div> 

            <div class="cart__price-wrapper">
               <span class="cart__price">1199.00 <span class="cart__currency">грн.</span></span>
               <button class="cart__delete" type="button"></button>
            </div>
         </li>-->
      </ul>
   </div>
</section>