<section class="section about">
   <div class="container">
      <h2 class="section-title about__title">Наши <span class="section-title-slice about__title-slice">услуги</span></h2>
      <p class="section-text about__text">Главной деятельностью масонств</p>
      <ul class="about__services-list">

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-printing-machine" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-fever" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-printer" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-printing-machine" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-fever" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>

         <li class="about__servic">
            <a class="about__inner" href="#">
               <h3 class="about__subtitle">Печать флекс/флок плёнкой</h3>
               <p class="about__description">Качественная печать При малых тиражах</p>
               <a class="about__link" href="#">Подробней</a>
               <div class="about__picture">
                  <img src="./images/sprite.svg#icon-printer" width="133" height="133" alt="принт-машина">
               </div>
            </a>
         </li>
         
      </ul>
   </div>
</section>