<section class="section catalog">
   <div class="container">
      <h2 class="section-title">Ката<span class="section-title-slice">лог</span></h2>
      <p class="section-text">Выбирай всё что по душе</p>
      <ul class="catalog__list">

         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Футболка</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>

         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Худи</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>

         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Чашки</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>

         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Футболка женская</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>

         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Худи</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>
         
         <li class="catalog__item">
            <a class="catalog__item-link" href="#">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
               <h2 class="catalog__subtitle">Чашки</h2>
               <span class="catalog__deskription">Эко материалы</span>
            </a>
         </li>
      </ul>
   </div>
</section>