<section class="section catalog" id="catalog">
   <div class="container">
      <h2 class="section-title">Ката<span class="section-title-slice">лог</span></h2>
      <p class="section-text">Выбирай всё что по душе</p>

      <div class="swiper examole-swiper">
         <div class="swiper-wrapper">
   
            <div class="swiper-slide">
               <a class="catalog__item-link">
                  <div class="catalog__photo">
                     <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
                  </div>
                  
                  <h2 class="catalog__subtitle">Футболка</h2>
                  <span class="catalog__deskription">Эко материалы</span>
               </a>
            </div>
   
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
            </div>
   
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
            </div>
   
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/example-product.png" width="250" height="250" alt="продукт">
               </div>
            </div>
   
            <div class="swiper-slide">
               <div class="catalog__photo">
                  <img class="catalog__img" src="./images/sale-photo.png" width="250" height="250" alt="продукт">
               </div>
            </div>
            
         </div>
      </div>
      <div class="examole__dots"></div>
   </div>
</section>