<section class="section comments" id="comments">
   <div class="container">
      <h2 class="section-title">От<span class="section-title-slice">зы</span>вы</h2>
      <p class="section-text comments__text">Только посмотри что о нас говорит твоя соседка</p>
   </div>

   <div class="comments__slider-wrapper">
      <div class="comments__slider swiper">
         <div class="comments__swiper-wrapper swiper-wrapper">

            <div class="comments__slide swiper-slide">
               <div class="comments__slide-wrapper">
                  <img class="comments__screen" src="./images/screenshot.png" alt="Коментарии">
               </div>
            </div>

            <div class="comments__slide swiper-slide">
               <div class="comments__slide-wrapper">
                  <img class="comments__screen" src="./images/screenshot.png" alt="Коментарии">
               </div>
            </div>

            <div class="comments__slide swiper-slide">
               <div class="comments__slide-wrapper">
                  <img class="comments__screen" src="./images/screenshot.png" alt="Коментарии">
               </div>
            </div>

         </div>
      </div>

      <div class=" comments__swiper-arrows">
         <div class="comments__arrow comments__arrow--prev"></div>
         <div class="comments__arrow comments__arrow--next"></div>
      </div>

      <div class="comments__dots"></div>
   </div>
</section>
