<section class="section example" id="example">
   <div class="container">
      <h2 class="example__title"><span class="section-title-slice example__title-slice">Пример </span>печати</h2>
      <p class="example__text">Это может быть на тебе</p>

      <div class="example__slider-wrapper">
         <div class="swiper example__slider">
            <div class="swiper-wrapper">

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <!-- <img src="./images/example-product.png" alt="Продукт"> -->
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <!-- <img src="./images/example-product.png" alt="Продукт"> -->
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>

               <div class="example__slide swiper-slide">
                  <a class="example__slide-link" href="#">
                     <div class="example__slide-wrapper">
                        <img src="./images/example-product.png" alt="Продукт">
                     </div>
                  </a>
               </div>



            </div>
         </div>

         <!-- <div class="arrows example__swiper-arrows">
            <div class="arrow example__arrow--prev"></div>
            <div class="arrow example__arrow--next"></div>
         </div> -->

         <div class="example__dots"></div>
      </div>

   </div>
</section>