<ul class="filter product__filter">
   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Количество:</span>

      <div class="filter__inner-order">
         <div class="filter__order-item">
            <button class="filter__btn btn--lass" type="button" id="btn-less">-</button>
            <span class="sr-only">Кнопка "минус одна едининица товара"</span>
         </div>

         <div class="filter__order-item">
            <input class="filter__input" type="text" id="quantity" value="90">
            <label class="sr-only" for="quantity">Количество продукта</label>
         </div>

         <div class="filter__order-item">
            <button class="filter__btn btn--more" type="button" id="btn-more">+</button>
            <span class="sr-only">Кнопка "плюс одна едининица товара"</span>
         </div>
      </div>
   </li>

   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Размер:</span>
      <div class="filter__inner">
         <h3 class="sr-only">Сортировать по размеру</h3>
         <button class="filter__result js-result" id="size" type="button">XL</button>
         <ul class="filter__parameters hidden">
            <li class="filter__parameter js-parameter">XXL</li>
            <li class="filter__parameter js-parameter">XL</li>
            <li class="filter__parameter js-parameter">L</li>
            <li class="filter__parameter js-parameter">M</li>
         </ul>
      </div>
   </li>

   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Цвет:</span>
      <div class="filter__inner">
         <h3 class="sr-only">Сортировать по цвету</h3>
         <button class="filter__result js-result" id="color" type="button">Желтый</button>
         <ul class="filter__parameters hidden">
            <li class="filter__parameter js-parameter" id="white">Белый</li>
            <li class="filter__parameter js-parameter" id="black">Черный</li>
            <li class="filter__parameter js-parameter" id="red">Красный</li>
            <li class="filter__parameter js-parameter" id="yellow">Желтый</li>
         </ul>
      </div>
   </li>
</ul>