<ul class="filter product__filter">
   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Кількість:</span>

      <div class="filter__inner-order">
         <div class="filter__order-item">
            <button class="filter__btn btn--lass" type="button" id="btn-less">-</button>
            <span class="sr-only">Кнопка "мінус одна одиниця товару"</span>
         </div>

         <div class="filter__order-item">
            <input class="filter__input" type="text" id="quantity" value="90">
            <label class="sr-only" for="quantity">Кількість продукту</label>
         </div>

         <div class="filter__order-item">
            <button class="filter__btn btn--more" type="button" id="btn-more">+</button>
            <span class="sr-only">Кнопка "плюс одна одиниця товару"</span>
         </div>
      </div>
   </li>

   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Розмір:</span>
      <div class="filter__inner">
         <h3 class="sr-only">Сортувати по разміру</h3>
         <button class="filter__result js-result" id="size" type="button">XL</button>
         <ul class="filter__parameters hidden">
            <li class="filter__parameter js-parameter">XXL</li>
            <li class="filter__parameter js-parameter">XL</li>
            <li class="filter__parameter js-parameter">L</li>
            <li class="filter__parameter js-parameter">M</li>
         </ul>
      </div>
   </li>

   <li class="filter__item product__item">
      <span class="filter__subtitle product__filter-subtitle">Колір:</span>
      <div class="filter__inner">
         <h3 class="sr-only">Сортувати по кольору</h3>
         <button class="filter__result js-result" id="color" type="button">Жовтий</button>
         <ul class="filter__parameters hidden">
            <li class="filter__parameter js-parameter" id="white">Білий</li>
            <li class="filter__parameter js-parameter" id="black">Чорний</li>
            <li class="filter__parameter js-parameter" id="red">Червоний</li>
            <li class="filter__parameter js-parameter" id="yellow">Жовтий</li>
         </ul>
      </div>
   </li>
</ul>