   <footer class="footer">
      <div class="container">
         <div class="footer__wrapper">
            
            <div class="footer__networks">
               <a class="logo footer__logo" href="#">
                  <img class="logo__icon" src="./images/logo-masons-shop.svg" width="184" height="63" alt="логотип">
               </a>

               <ul class="networks">
                  <li class="networks__btn">
                     <span class="sr-only">Перейти на страницу телеграма</span>
                     <a class="networks__network networks__network--telegram" href="#" target="_blank"></a>
                  </li>

                  <li class="networks__btn">
                     <span class="sr-only">Перейти на страницу инстаграма</span>
                     <a class="networks__network networks__network--instagram" href="#" target="_blank"></a>
                  </li>
               </ul>
            </div>
      
            <div class="footer__data">
               <div class="footer__data-block">
                  <h2 class="footer__block-titel">Информация</h2>

                  <ul class="footer__data-list">
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Каталог</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">О нас</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Доставка и оплата</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Возвращение</a>
                     </li>
                  </ul>
               </div>

               <div class="footer__data-block">
                  <h2 class="footer__block-titel">Контакты</h2>

                  <ul class="footer__data-list">
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Каталог</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">О нас</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Доставка и оплата</a>
                     </li>
                     <li class="footer__data-item">
                        <a href="#" class="link footer__data-link" target="_blank">Возвращение</a>
                     </li>
                  </ul>
               </div>
            </div>
      
            <div class="email footer__email">
               <h2 class="email__title">Узнавай о новинках первым</h2>
               
               <p class="email__text">Получай от нас смс с сюрпризами</p>
               <form class="email__registr" action="#" method="post">
                  <div>
                     <input class="input email__fild" type="email" id="email" placeholder="Email">
                     <label class="sr-only" for="email">Введите свой Email</label>
                  </div>
                  <div>
                     <button class="btn email__btn" type="submit">Отправить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </footer>
   