<!DOCTYPE html>
<html lang="RU">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title class="header">Masons branding wordshop</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   <header class="header">
      <div class="container">
         
         <div class="header__top">
            <div class="header__search">
               <input class="input header__input" type="text" id="search" placeholder="Поиск">
               <label class="sr-only" for="search">Поиск по сайту</label>
            </div>
            <a class="logo" href="#">
               <img class="logo__icon" src="./images/logo-masons-shop.svg" width="184" height="63" alt="логотип">
            </a>
            <div class="header__nav-top">
               <div class="header__languages">
                  <button class="header__language-btn active" type="button">RU</button>
                  <button class="header__language-btn" type="button">UA</button>
               </div>
               <div class="header__cabinet">
                  <button class="btn-icon header__cabinet-btn header__cart-btn" type="button"></button>
                  <button class="btn-icon header__cabinet-btn header__lickes-btn" type="button"></button>
               </div>
            </div>
         </div>

         <nav class="nav">
            <ul class="nav__list">
               <li class="nav__category-item">
                  <a class="nav__category active" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
               <li class="nav__category-item">
                  <a class="nav__category" href="#"><span class="nav__category-name">Категория</span></a>
               </li>
            </ul>
         </nav>
      </div>
   </header>