<header class="header">
   <div class="container">

      <div class="header__top">
         <div class="header__search">
            <input class="input header__input" type="text" id="search" placeholder="Пошук">
            <label class="sr-only" for="search">Пошук по сайту</label>
         </div>

         <a class="logo" href="./index.html">
            <img class="logo__icon" src="./images/logo-masons-shop.svg" width="184" height="63" alt="логотип">
         </a>

         <div class="header__nav-top">
            <div class="header__languages">
               <button class="header__language-btn active" data-lg="en" type="button">EN</button>
               <button class="header__language-btn" data-lg="ua" type="button">UA</button>
            </div>
            <div class="header__cabinet">
               <a class="btn-icon header__cabinet-btn header__cart-btn" href="./cart-page.html" title="Кошик" aria-label="Кошик">
                  <span class="header__quantity" aria-label="Килькисть товару в кошику">3</span>
               </a>
               <a href="#" class="btn-icon header__cabinet-btn header__lickes-btn" type="button" title="Обране" aria-label="Обране"></a>
               <button class="header__log-in" type="button" title="Реєстрація" aria-label="Реєстрація">Log</button>
            </div>
         </div>

         <button class="burger burger-index--open" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Відкрити меню</span>
         </button>
      </div>


      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__category-item">
               <a class="nav__category active" href="#about"><span class="nav__category-name">Послуги</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#example"><span class="nav__category-name">Приклад</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#top"><span class="nav__category-name">Топ</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#catalog"><span class="nav__category-name">Каталог</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#comments"><span class="nav__category-name">Відгуки</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#video"><span class="nav__category-name">Про нас</span></a>
            </li>

            <li class="nav__category-item">
               <a class="nav__category" href="#contacts"><span class="nav__category-name">Контакти</span></a>
            </li>
         </ul>
      </nav>
   </div>
   <!--=include mobile-menu.html -->
   <!--=include log-in.html -->
   <!--=include registration.html -->
</header>