<section class="section registration hidden">
   <div class="registration__container">
      <div class="registration__inner">
         <div class="registration__content">
   
            <h1 class="registration__title">Регыстрация</h1>
            <a class="registration__log-in" href="#">У меня есть аккаунт</a>
   
            <form class="registration-form" action="#" method="post">
   
               <div class="registration-form__item">
                  <label class="sr-only" for="regMail">Введите ваш email</label>
                  <input class="fild registration-form__fild" id="regMail" type="email" placeholder="Email" required>
               </div>
   
               <div class="registration-form__item registration-form__first-pass">
                  <label class="sr-only" for="regPassFirst">Введите ваш пароль</label>
                  <input class="fild registration-form__fild registration-form__first-password" type="password"
                     id="regPassFirst" name="password" placeholder="Введите пароль" required>
                  <button class="show-password" type="button"></button>
               </div>
   
               <div class="registration-form__item registration-form__second-pass">
                  <label class="sr-only" for="regPassSecond">Повторите пароль</label>
                  <input class="fild registration-form__fild registration-form__second-password" type="password"
                     id="regPassSecond" name="password" placeholder="Повторите пароль" required>
                  <button class="show-password" type="button"></button>
               </div>
   
               <div class="registration-form__item">
                  <label class="sr-only" for="regTel">Введите ваш email</label>
                  <input class="fild registration-form__fild" id="regTel" type="tel" placeholder="Телефон" required>
               </div>
   
               <div class="registration-form__box-check">
                  <input class="registration-form__check sr-only" type="checkbox" id="igree">
                  <label class="registration-form__check-lable" for="igree">Я принимаю условыя пользования</label>
               </div>
   
               <button class="registration-form__btn" type="submit">Регистрация</button>
            </form>
         </div>
      </div>
   </div>
</section>