<section class="section sale">
   <div class="container">
      <h2 class="sale__title"><span class="section-title-slice example__title-slice">Акції </span>та пропозиції</h2>
      <p class="sale__text">Встигни вирвати собі</p>
   </div>

   <div class="sale__wrapper">
      <div class="container">
         
         <div class="sale__slider-wrapper">
            <div class="sale__slider swiper">
               <div class="swiper-wrapper">

                  <div class="sale-slide swiper-slide">
                     <div class="sale-slide__content">
                        <h3>"Русский корабль..."</h3>
                        <p>Купи футболку і 10% з кожної покупки піде на потреби ЗСУ, купи стильну футболку і підтримай свого брата на фронті</p>
                        <a class="btn sale-slide__btn" href="#">Детальніше</a>
                     </div>
                     <div class="sale-slide__photo-wrapper">
                        <div class="sale-slide__photo">
                           <img src="./images/sale-photo.png" width="420" height="420" alt="фото продукта">
                        </div>
                     </div>
                  </div>
                  
                  <div class="sale-slide swiper-slide">
                     <div class="sale-slide__content">
                        <h3>"Русский корабль..."</h3>
                        <p>Купи футболку і 10% з кожної покупки піде на потреби ЗСУ, купи стильну футболку і підтримай свого брата на фронті</p>
                        <a class="btn sale-slide__btn" href="#">Детальніше</a>
                     </div>
                     <div class="sale-slide__photo-wrapper">
                        <div class="sale-slide__photo">
                           <img src="./images/sale-photo.png" width="420" height="420" alt="фото продукта">
                        </div>
                     </div>
                  </div>

                  <div class="sale-slide swiper-slide">
                     <div class="sale-slide__content">
                        <h3>"Русский корабль..."</h3>
                        <p>Купи футболку і 10% з кожної покупки піде на потреби ЗСУ, купи стильну футболку і підтримай свого брата на фронті</p>
                        <a class="btn sale-slide__btn" href="#">Детальніше</a>
                     </div>
                     <div class="sale-slide__photo-wrapper">
                        <div class="sale-slide__photo">
                           <img src="./images/sale-photo.png" width="420" height="420" alt="фото продукта">
                        </div>
                     </div>
                  </div>

                  <div class="sale-slide swiper-slide">
                     <div class="sale-slide__content">
                        <h3>"Русский корабль..."</h3>
                        <p>Купи футболку і 10% з кожної покупки піде на потреби ЗСУ, купи стильну футболку і підтримай свого брата на фронті</p>
                        <a class="btn sale-slide__btn" href="#">Детальніше</a>
                     </div>
                     <div class="sale-slide__photo-wrapper">
                        <div class="sale-slide__photo">
                           <img src="./images/sale-photo.png" width="420" height="420" alt="фото продукта">
                        </div>
                     </div>
                  </div>
   
               </div>
            </div>

            <!-- <div class="arrows sale__swiper-arrows">
               <div class="arrow sale__arrow--prev"></div>
               <div class="arrow sale__arrow--next"></div>
            </div> -->
            <div class="sale__dots"></div>
         </div>
   
      </div>
   </div>
</section>