<section class="section top" id="top">
   <div class="container">
      <h2 class="section-title">Топ <span class="section-title-slice">продаж</span></h2>
      <p class="section-text">Те, що вам сподобається</p>

      <ul class="gallery top__gallery">
         <li class="gallery__category">
            <button class="btn gallery__btn active" type="button" data-filter=".category-all">Все</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-cap">Світшоти</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-t-shirt">Футболки</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-category-t-shirt">Кружки</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-sweater">Світшоти</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-sweater">Футболки</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-sweater">Кружки</button>
         </li>
         <li class="gallery__category">
            <button class="btn gallery__btn" type="button" data-filter=".category-sweater">Світшоти</button>
         </li>
         
      </ul>

      <ul class="gallery__items">

         <li class="gallery__item mix category-all category-cap">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-t-shirt">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Світер">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-cap">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-sweater">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Світер">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         <li class="gallery__item mix category-all category-cap">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-t-shirt">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Світер">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-cap">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-all category-sweater">
            <article class="card">
               <a href="desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Світер">
                  </div>
                  <h3 class="card__title">Футболка Біла</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

      </ul>
   </div>
</section>