<section class="section video" id="video">
   <div class="container">
      <h2 class="vide__title"><span class="section-title-slice">Ще є </span>сумніви?</h2>
      <p class="video__text">Тоді подивися це відео і сам все зрозумієш</p>

      <div class="video__box" id="lightgallery">
         <a class="video__link" href="https://www.youtube.com/watch?v=9qzGpimEnPE" data-lg-size="1600-2400">
            <img class="video__screen" alt="prev" src="./images/screen-video.webp" width="915" height="515" />
         </a>
      </div>
   </div>
</section>