.comments {

      &__text {
         max-width: 675px;
         margin: 0 auto 120px;    
         
         @include r(568) { 
            margin-bottom: 50px;
         }
      }

		&__slider-wrapper {
         max-width: 1440px;
         margin: 0 auto;
         position: relative;
         background: url('../images/bg-comments.png') center / 1440px 617px no-repeat;
		}

		&__slider {
         height: 900px;
         max-width: 440px;
         margin: 0 auto;
         background: url('../images/phone.png') center / contain no-repeat;

         @include r(992) { 
            margin-bottom: 30px;
         }

         @include r(568) { 
            max-width: 400px;
            height: 700px;
         }
		}

		&__slide {
         display: flex;
         align-items: center;
         justify-content: center;
		}

      &__swiper-wrapper {
         position: relative;
      }

      
		&__slide-wrapper {
         max-width: 395px;
         max-height: 860px;
         position: relative;

         @include r(568) { 
            max-width: 350px;
            height: 670px;
         }
		}

      &__screen {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }

      &__swiper-arrows {
         position: absolute;
         transform: translateY(-50%);
         transform: translateX(-50%);
         max-width: 800px;
         width: 100%;
         margin: 0 auto;
         top: 50%;
         left: 50%;
         display: flex;
         justify-content: space-between;

         @include r(768) { 
            display: none;
         }
      }

      &__arrow {
         position: relative;
         width: 100px;
         height: 100px;
         border-radius: 50%;
         background-color: $bgColor;
         z-index: 2;
         cursor: pointer;
         transition: all 0.3s ease-in-out;

         &:active {
            background-color: $fontColor;
         }

         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 42px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s ease-in-out;
         }

         &:hover::after {
            filter: invert(22%) sepia(19%) saturate(3309%) hue-rotate(359deg) brightness(103%) contrast(104%);
         }
      }

		&__arrow--prev {
         &::after {
            background-image: url('../images/sprite.svg#icon-arrow-right');
            transform: rotate(180deg);
         }

         &:hover {
            transform: translateX(-10px);
         }
		}

		&__arrow--next {
         &::after{
            background-image: url('../images/sprite.svg#icon-arrow-right');
         }

         &:hover {
            transform: translateX(10px);
         }
		}

      &__dots {
         display: none;
         
         @include r(768) { 
            display: flex;
            justify-content: center;
         }
      }
}


