.footer {
   background-color: $bgColor;
   padding: 43px 0 66px;

      &__logo{
         margin-bottom: 14px;
      }

      &__wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;

         @include r(992) { 
            max-width: 500px;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-start;
         }
      }

		&__networks {
         @include r(992) { 
            margin-bottom: 50px;
         }
		}

		

		&__data {
         display: flex;
         column-gap: 75px;

         @include r(992) { 
            margin-bottom: 50px;
         }

         @include r(576) { 
            flex-direction: column;
            row-gap: 50px;
         }
		}


		&__block-titel {
         @extend %montserrat-600;
         font-size: 24px;
         margin-bottom: 18px;
		}

		&__data-list {
         display: flex;
         flex-direction: column;
         row-gap: 10px;

         @include r(768) { 
            row-gap: 20px;
         }
		}

		&__data-item {
         @extend %montserratAlternates-400;
         font-size: 16px;
         color: $silverLight;
		}

		&__email {
		}
}

.networks {
   display: flex;
   column-gap: 30px;

		&__btn {
         position: relative;
         width: 40px;
         height: 40px;
         border-radius: 10px;
         background-color: $accent;
         transition: all 0.2s ease-in-out;

         &:hover {
            background-color: $fontColor;
         }

         &:active {
            box-shadow: 0px 0px 5px 2px $accent;
            color: $fontColor;
         }
		}

		&__network--telegram,
      &__network--instagram,
      &__network--viber {
         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.2s ease-in-out;
         }

         &:hover::after {
            filter: invert(69%) sepia(99%) saturate(444%) hue-rotate(355deg) brightness(97%) contrast(109%);
         }

		}
      
      &__network--telegram {
         &::after {
            background-image: url('../images/sprite.svg#icon-telegram');
         }
      }

		&__network--instagram {
         &::after {
            background-image: url('../images/sprite.svg#icon-instagram');
         }
		}
}

.logo {

		&__icon {
		}
}
.email {

		&__title {
         font-size: 20px;
         @extend %montserrat-600;
		}

		&__text {
         font-size: 14px;
         margin-bottom: 10px;
         color: $silverLight;
         @extend %montserratAlternates-400;
		}

		&__registr {
         @include r(576) { 
            display: flex;
            flex-direction: column;
            row-gap: 20px;
         }
		}

		&__fild {
         width: 190px;
         font-size: 12px;
         padding: 7px 14px;
         background-color: #363636;
         border: 1px solid transparent;
         color: $fontColor;

         &::placeholder {
            font-size: 12px;
            color: $accent;
            @extend %montserrat-300;
         }
		}

		&__btn {
         font-size: 12px;
         width: 100px;
         height: 30px;
         @extend %montserrat-500;
		}
}

