.header {
   padding: 20px 30px;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 999;

   @include r(576) { 
      padding: 20px 10px 10px;
   }
   
   &.header--sticky {
      background-color: $bgColor;
   }

		&__top {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 12px;
		}

      &__search {
         @include r(576) { 
            order: 2;
         }
      }

		&__input {
         position: relative;
         width: 225px;
         height: 30px;
         border-radius: 15px;
         border: 1px solid $fontColor;
         padding: 7px 32px;
         color: $fontColor;
         font-size: 16px;
         background-color: transparent;
         background-image: url('../images/icon/icon-lupa.svg');
         background-repeat: no-repeat;
         background-position: 10px center;
         @extend %inter-400;

         @include r(768) { 
            max-width: 170px;
            margin: 0 10px;
         }
      }

		&__nav-top {
         display: flex;
         align-items: center;
         column-gap: 30px;

         @include r(576) { 
            display: none;
         }
		}

      &__languages {
         display: flex;
         align-items: center;
         column-gap: 11px;

         @include r(768) { 
            display: none;
         }
		}

		&__language-btn {
         font-size: 16px;
         background-color: transparent;
         color: #868686;;
         border: 0px solid transparent;
         padding-left: 0;
         @extend %inter-400;
         transition: all 0.3s ease-in-out;
         cursor: pointer;

         &:not(:last-child) {
            border-right: 1px solid $fontColor;
            padding-right: 9px;
         }

         &:hover {
            text-decoration: underline;
         }
		}

      &__language-btn.active {
         color: $fontColor;
      }

      &__cabinet {
         display: flex;
         align-items: center;
         column-gap: 30px;
		}

      &__cabinet-btn {
         position: relative;
         width: 28px;
         height: 28px;
         background-color: transparent;
         border: 0px solid transparent;
         border-radius: 5px;
      }


		&__cart-btn,
      &__lickes-btn {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
         }
		}
      
      &__cart-btn::after {
         background-image: url('../images/sprite.svg#icon-cart');
      }

      &__quantity {
         position: absolute;
         top: 0px;
         right: -5px;
         color: $accent;
         font-size: 12px;
         line-height: 1.3;
         text-align: center;
         background-color: red;
         border-radius: 50%;
         width: 15px;
         height: 15px;
         z-index: 2;
      }

		&__lickes-btn {

         &::after {
            background-image: url('../images/sprite.svg#icon-like');
         }
		}
}

.logo {
   display: block;
   width: 184px;
   height: 63px;

   @include r(992) { 
      width: 150px;
      height: 50px;
   }

   @include r(576) { 
      width: 100px;
      height: 40px;
      order: 1;
   }
   
   &__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}


.nav {

		&__list {
         display: grid;
         grid-template-columns: repeat(7, 1fr);
         column-gap: 2px;
         
         @include r(992) {
            padding: 5px 10px;
            overflow-x: auto;
         }

         @include r(768) {
            display: none;
         }
		}
      
		&__category {
         display: block;
         padding: 15px 30px;
         transform: skewX(-20deg);
         transition: all 0.2s ease-in-out;
         @extend %montserrat-300;

         @include r(768) { 
            padding: 10px 25px;
         }
         
         &:hover {
            outline: 1px solid $accent;
         }

         &:active {
            box-shadow: 0px 0px 15px 2px $accent;
         }
		}

      &__category.active {
         background-color: $fontColor;
         color: $bgColor;
         @extend %montserrat-700;
      }
      
      &__category-name {
         display: block;
         font-size: 18px;
         transform: skewX(20deg);
         text-align: center;
         white-space: nowrap;

         @include r(768) { 
            font-size: 16px;
         }
      }
}

