
.hero {
   padding-top: 142px;
   position: relative;
   display: flex;
   align-items: center;
   max-width: 1400px;
   margin: 0 auto 150px;
   height: 100vh;
   background: url('../images/hero-bg2.webp') center/ cover no-repeat;

   @include r(768) { 
      background-position: 70% 50%;
   }

   @include r(576) { 
      padding-top: 0px;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @include r(992) { 
         background-color: rgba(0, 0, 0, 0.5);
      }
   }

   &__contain {
      position: relative;
      z-index: 2;
   }


   &__wrapper {
      max-width: 50%;

      @include r(576) { 
         max-width: 80%;
      }
   }

   &__title {
      font-size: 82px;
      line-height: 0.95;
      text-transform: uppercase;
      @extend %montserrat-700;
      margin-bottom: 36px;

      @include r(992) { 
         font-size: 60px;
      }

      @include r(576) { 
         font-size: 48px;
      }
   }
   
   &__title-slice {
      color: $accent;
   }
   
   &__text {
      font-size: 24px;
      columns: $silverLight;
      @extend %montserrat-400;
      margin-bottom: 45px;

      @include r(768) { 
         font-size: 18px;
      }
   }
   
   &__link {
      @extend %montserrat-800;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      color: $bgColor;
      background-color: $accent;
      border: 1px solid transparent;
      padding: 20px 48px;
      transition: all 0.3s ease-in-out;

      @include r(768) { 
         padding: 15px 35px;
         font-size: 18px;
      }

      &:hover {
         color: $accent;
         background-color: $fontColor;
         border: 1px solid$accent;
      }

      &:active {
         box-shadow: 0px 0px 5px 2px $accent;
         color: $fontColor;
      }
   }
}

