<section class="section catalog-page">
   <div class="container">

      <div class="catalog-page__head">
         <div class="catalog-page__title">
            <h2 class="catalog-page__title"><span class="section-title-slice">Фут</span>болки</h2>
            <p class="catalog-page__text">Любые размеры и формы</p>
         </div>

         <div class="catalog-page__filter filter-top">
            
            <div class="filter-top__item">
               <span class="filter-top__subtitle">Сортировка:</span>
               <div class="filter-top__inner">
                  <h3 class="sr-only">Сортировать по категории</h3>
                  <button class="filter-top__result js-result" type="button">Дешевле - Дорже</button>
                  <ul class="filter-top__parameters hidden">
                     <li class="filter-top__parameter js-parameter">Дешевле - Дорже</li>
                     <li class="filter-top__parameter js-parameter">Дорже - Дешевле</li>
                     <li class="filter-top__parameter js-parameter">По популярности</li>
                  </ul>
               </div>
            </div>

            <div class="filter-top__item">
               <span class="filter-top__subtitle">Нас странице:</span>
               <div class="filter-top__inner">
                  <h3 class="sr-only">Сортировать по количеству на странице</h3>
                  <button class="filter-top__result js-result" type="button">По 16</button>
                  <ul class="filter-top__parameters hidden">
                     <li class="filter-top__parameter js-parameter" id="16">По 16</li>
                     <li class="filter-top__parameter js-parameter" id="24">По 24</li>
                     <li class="filter-top__parameter js-parameter" id="40">по 40</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <ul class="catalog-page__catalog catalog-list">
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
         
         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>

         <li class="catalog-list__item">
            <article class="card">
               <a href="./product-page.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                  </div>
                  <h3 class="card__title">Футболка Белая</h3>
                  <span class="card__pric">230 <span>₴</span></span>
               </a>
            </article>
         </li>
      </ul>

      <div class="pagination catalog-page__pagination">
         <ul class="pagination__list">
            <li class="pagination__item">
               <a class="pagination__link pagination__link--prev pagination__link--dasabled">
                  <span class="sr-only">Вернутся на предидущую страницу</span>
               </a>
            </li>
            <li class="pagination__item">
               <a href="#" class="pagination__link">1</a>
            </li>
            <li class="pagination__item">
               <a href="#" class="pagination__link pagination__link--current">2</a>
            </li>
            <li class="pagination__item">
               <a href="#" class="pagination__link">3</a>
            </li>
            <li class="pagination__item">
               <a class="pagination__link pagination__link--next">
                  <span class="sr-only">Перейти на наступну страницу</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</section>