.order {
   margin-bottom: 130px;

		&__title {
         margin-bottom: 70px;
		}

		&__form {
         display: flex;
         column-gap: 90px;

         @include r(768) {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
         }
		}

		&__filds {
         display: flex;
         flex-direction: column;
         row-gap: 30px;
         max-width: 440px;
         width: 100%;
		}

      &__fild-wrapper {
         width: 100%;
         max-width: 440px;
      }

		&__fild {
         padding: 17px 25px;
         background-color: #111111;

         &::placeholder {
            color: $accent;
            @extend %inter-400;
         }

         &:focus::placeholder {
            color: transparent;
         }

         &:hover {
            border: solid 1px $accent;
         }

         &:focus {
            border: solid 1px $accent;
         }
		}

		&__check-boxes {
         display: flex;
         column-gap: 90px;
         margin-bottom: 65px;
		}

		&__subtitle {
         font-size: 18px;
         @extend %montserrat-600;
         margin-bottom: 25px;
		}

		&__redio-lable {
         position: relative;
         display: block;
         font-size: 16px;
         @extend %montserrat-400;
         padding-left: 30px;
         color: $accent;
         cursor: pointer;

         &:not(:last-child){
            margin-bottom: 20px;   
         }

         &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #111111;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 12px 10px;
            transition: all 0.3s ease-in;
         }

         &:hover::after {
            border: solid 1px $accent;
         }
		}

      &__redio:checked + &__redio-lable::after {
         background-image: url('../images/sprite.svg#icon-check');
      }

      &__parameter-list {
         margin-bottom: 30px;
      }

      &__result-inner {
         color: #9B9B9B;
         @extend %montserrat-500;
         font-size: 16px;

         &:not(:last-child) {
            margin-bottom: 12px;
         }
      }

      &__result {
         margin-left: 10px;
         color: $accent;
      }
      
      &__result-slice {
         color: $accent;
      }

      &__pay {
         margin-bottom: 30px;
      }

		&__btn {
         border: 2px solid $accent;
         background-color: transparent;
         color: $accent;
         font-size: 16px;
         padding: 15px 45px;
         @extend %inter-600
		}

      &__btn[disabled]{
         background-color: #4e4b4b;
         pointer-events: none;
      }
}