.product {
   padding-top: 180px;

   @include r(768) {
      padding-top: 100px;
   }

      &__container {
         max-width: 1180px;
      }
   
      &__inner {
         display: flex;
         column-gap: 25px;
         margin-bottom: 70px;

         @include r(992) {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
         }

		}

		&__img {
         max-width: 535px;
         max-height: 530px;
		}

		&__photo {
         width: 100%;
         height: 100%;
         object-fit: contain;
		}

		&__description {
         display: flex;
         flex-direction: column;
         justify-content: center;
		}

		&__title {
         font-size: 64px;
         @extend %montserrat-700;
         white-space: nowrap;

         @include r(992) {
            font-size: 48px;
         }

         @include r(576) {
            font-size: 38px;
         }
		}

		&__subtitle {
         font-size: 24px;
         @extend %montserrat-400;
         color: $silverLight;
         margin-bottom: 10px;
		}

		&__stars {
         margin-bottom: 35px;

         @include r(992) {
            margin-bottom: 15px;
         }
		}

      &__price-box {
         margin-bottom: 40px;
      }

		&__price,
      &__currency {
         @extend %montserrat-600;
         font-size: 48px;
         color: $accent;

         @include r(992) {
            font-size: 38px;
            margin-bottom: 20px;
         }
		}

		&__filter {
         display: grid;
         grid-template-columns: repeat(3, minmax(30px, auto));
         row-gap: 20px;
         margin-bottom: 37px;
		}

      &__item {
         display: flex;
         flex-direction: column;
         row-gap: 5px;
         align-items: center;
         justify-content: center;
		}

		&__filter-subtitle {
         font-size: 16px;
         @extend %montserrat-400;
		}

		&__filter.filter-top li{
         margin-right: 0;
		}

      &__buy-wrapper {
         display: flex;
         column-gap: 30px;

         @include r(992) {
            justify-content: center
         }
      }

		&__btn-buy{
         @extend %inter-700;
         padding: 20px 60px;
         margin-left: 2px;
         font-size: 18px;
         outline: 2px solid $accent;
         background-color: $bgColor;
         color: $accent;
         width: fit-content;
		}

		&__label-like {
         display: block;
         position: relative;
         width: 40px;
         height: 100%;
         cursor: pointer;
   
         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/sprite.svg#icon-hart');
            transition: all 0.3s ease-in;
         }

         &:hover::after {
            filter: invert(18%) sepia(26%) saturate(5896%) hue-rotate(2deg) brightness(108%) contrast(102%);
         }
		}

      &__checkbox:checked + &__label-like::after {
         filter: invert(18%) sepia(26%) saturate(5896%) hue-rotate(2deg) brightness(108%) contrast(102%);
      }

      &__title-description,
      &__title-comments {
         font-size: 36px;
         @extend %montserrat-700;

         @include r(768) {
            font-size: 32px;
            margin-bottom: 20px;
         }
      }
      
      &__title-description {
         margin-bottom: 35px;
      }

		&__about p {
         color: #A5A5A5;
         font-size: 24px;
         line-height: 1.3;
         @extend %montserrat-400;
         margin-bottom: 135px;

         @include r(768) {
            font-size: 20px;
            margin-bottom: 50px;
         }
		}

		&__add-comments {
         display: flex;
         align-items: center;
         column-gap: 30px;
         margin-bottom: 45px;

         @include r(768) {
            margin-bottom: 20px;
         }
		}

      &__btn-add {
         @extend %inter-600;
         padding: 15px 21px;
         margin-left: 2px;
         font-size: 16px;
         outline: 2px solid $accent;
         background-color: $bgColor;
         color: $accent;
         width: fit-content;
      }
}

.swiper-product {
   max-width: 530px;
   min-width: 300px;
   height: 535px;
   margin: 0 auto;

   @include r(992) {
      height: 400px;
      width: 500px;
   }

   @include r(576) {
      width: 350px;
   }
}