<section class="product">
   <div class="container product__container">
      <h1 class="sr-only">Опис продукту</h1>
      <div class="bread-crumbs">
         <div class="container bread-crumbs__flexbox">
            <a class="bread-crumbs__item" href="index.html">Каталог</a>
            <a class="bread-crumbs__item" href="catalog-page.html">Худі</a>
            <a class="bread-crumbs__item">Жовте худі</a>
         </div>
      </div>

      <div class="product__inner">
         <div class="swiper-product swiper">
            <div class="product__slider-items swiper-wrapper">
   
               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

            </div>
         </div>
   
         <div class="product__description">
            <h2 class="product__title">Жовте худі</h2>
            <span class="product__subtitle">худі, одяг</span>

            <div class="stars static-stars product__stars" data-stars="4"></div>
   
            <div class="product__price-box">
               <span class="product__price">1199.00 </span>
               <span class="product__currency">грн.</span>
            </div>

            <!--=include filter.html -->
   
            <div class="product__buy-wrapper">
               <button class="btn product__btn-buy">КУПИТИ</button>
      
               <div>
                  <span class="sr-only">Кнопка "додати в обране"</span>
                  <input class="product__checkbox sr-only" type="checkbox" id="like" name="like" title="Додати в обране">
                  <label class="product__label-like" for="like"></label>
               </div>
            </div>
         </div>
      </div>

      <h2 class="product__title-description">Опис</h2>

      <div class="product__about">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
         </p>
      </div>

      <div class="product__add-comments">
         <h2 class="product__title-comments">Відгуки</h2>
         <button class="btn product__btn-add" type="button">Залишити відгук</button>
      </div>

      <form class="product__form hidden" action="#" method="post">
         <div class="product__form-wrapper">
            <h2 class="product__form-subtitle">Напишіть що Ви думаєте про нас</h2>

            <div class="product__stars-wrapper">
               <span class="product__rating-title">Оцініть продукцію*</span>
               <div class="stars product__form-stars"></div>
            </div>

            <div class="product__inner">
               <label class="sr-only" for="comName">Введіть ім'я</label>
               <input class="fild product__fild" type="text" name="comName" id="comName" placeholder="Введіть ім'я*" required>
            </div>

            <div class="product__inner">
               <label class="sr-only" for="comEmail">Введіть email</label>
               <input class="fild product__fild" type="email" name="comEmail" id="comEmail" placeholder="Введіть Email*" required>
            </div>
   
            <div class="product__inner">
               <label class="sr-only" for="comment1">Введіть коментар</label>
               <textarea class="fild product__fild product__textarea" name="comment" id="comment1" cols="30" rows="5" placeholder="Введіть коментар"></textarea>
            </div>
   
            <div class="product__btns">
               <button class="btn product__btn-form product__form-btn--add" type="submit">Додати</button>
               <button class="btn product__btn-form product__form-btn--cansel" type="button">Вийти</button>
            </div>
         </div>
      </form>
   </div>
</section>

