<section class="product">
   <div class="container product__container">
      <h1 class="sr-only">Описание продукта</h1>
      <div class="bread-crumbs">
         <div class="container bread-crumbs__flexbox">
            <a class="bread-crumbs__item" href="index.html">Каталог</a>
            <a class="bread-crumbs__item" href="catalog-page.html">Худи</a>
            <a class="bread-crumbs__item">Желтое худи</a>
         </div>
      </div>

      <div class="product__inner">
         <div class="swiper-product swiper">
            <div class="product__slider-items swiper-wrapper">
   
               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

               <a class="product__img swiper-slide" href="./images/product-800x800.png" data-lg-size="800-800">
                  <img class="product__photo" src="./images/product-800x800.png" alt="фото продукта" class="product__photo" width="535" height="530">
               </a>

            </div>
         </div>
   
         <div class="product__description">
            <h2 class="product__title">Желтое худи</h2>
            <span class="product__subtitle">худи, одежда</span>

            <div class="stars static-stars product__stars" data-stars="4"></div>
   
            <div class="product__price-box">
               <span class="product__price">1199.00 </span>
               <span class="product__currency">грн.</span>
            </div>

            <!--=include filter.html -->
   
            <div class="product__buy-wrapper">
               <button class="btn product__btn-buy">КУПИТЬ</button>
      
               <div>
                  <span class="sr-only">Кнопка "добавить в избранное"</span>
                  <input class="product__checkbox sr-only" type="checkbox" id="like" name="like">
                  <label class="product__label-like" for="like"></label>
               </div>
            </div>
         </div>
      </div>

      <h2 class="product__title-description">Описание</h2>

      <div class="product__about">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
         </p>
      </div>

      <div class="product__add-comments">
         <h2 class="product__title-comments">Отзывы</h2>
         <button class="btn product__btn-add" type="button">Оставить отзыв</button>
      </div>
   </div>
</section>

