<section class="recommend product__recommend">
   <div class="container">
      
      <h2 class="recommend__title">Рекомендуем вам</h2>

      <div class="swiper recommend__swiper">
         <div class="swiper-wrapper">

            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>
            
            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>
            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>

            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>

            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/sale-photo.png" width="230" height="240" alt="Футболка">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>

            <div class="swiper-slide">
               <article class="card">
                  <a href="./desсription.html" class="card__wrapper">
                     <div class="card__img">
                        <img class="card__pictur" src="./images/example-product.png" width="230" height="240" alt="Свитер">
                     </div>
                     <h3 class="card__title">Футболка Белая</h3>
                     <span class="card__pric">230 <span>₴</span></span>
                  </a>
               </article>
            </div>

         </div>
      </div>
   </div>
</section>